<p align="center">
  <img
    src=""
    alt=""
    width="25%"
  />
</p>

<h2 align="center">
  {{listName}}
</h2>

<br />

<div style="display:flex; align-items:center;">
  <img
    alt="leetcode logo"
    src="https://user-images.githubusercontent.com/63964149/152531278-5e01909d-0c2e-412a-8acc-4a06863c244d.png"
    width="3%"
  />
  <a href={{leetcodeProfile}}>My leetcode profile</a>
</div>

<br />

{{#each languageFolders}}
  <table>
    <tbody>
      <th colspan="2">{{lang}}</th>
      <tr>
        <th>Problem</th>
        <th>Difficulty</th>
      </tr>
      {{#each challenges}}
        <tr>
          <td>
            <a href="{{url}}">{{title}}</a>
          </td>
          <td>
            ${\color{
            {{~difficultyColor~}}
            }\text{
            {{~difficulty~}}
            }}$
          </td>
        </tr>
      {{/each}}
    </tbody>
  </table>
{{/each}}